.add-item {
    &__button {
        font-size: 18px;
        border: none;
        border-radius: 27px;
        box-shadow: 0px 3px 3px 3px rgba($black, 0.05);
        padding: 5px 25px;
        margin-right: 10px;

        &:hover, &:focus {
            box-shadow: 0px 3px 3px 3px rgba($black, 0.2);
            outline: none;
        }

        &::before {
            content: '+';
            height: 20px;
            width: 20px;
            font-size: 33px;
            line-height: 40px;
            padding-right: 10px;
        }
    }
    &__form-group {
        display: flex;
        flex-direction: column;
        margin: 10px 0;

        label {
            padding-bottom: 5px;
        }

        input {
            border: none;
            box-shadow: 0px 3px 3px 3px rgba($black, 0.05);
    
            &:hover, &:focus {
                box-shadow: 0px 3px 3px 3px rgba($black, 0.2);
                outline: none;
            } 
        }

        input.error {
            box-shadow: 0px 3px 3px 3px rgba(red, 0.05);

            &:hover, &:focus {
                box-shadow: 0px 3px 3px 3px rgba(red, 0.2);
                outline: none;
            } 
        }

        &--title-error, &--priority-error {
            color: red;
            margin-top: 15px;
        }
    }

    &__submit {
        border: none;
        box-shadow: 0px 3px 3px 3px rgba($black, 0.05);
        padding: 5px;
        font-size: 16px;

        &:hover, &:focus {
            box-shadow: 0px 3px 3px 3px rgba($black, 0.2);
            outline: none;
        } 
    }
   
}