$pink: #F1B6B5;
$light-pink: #F8EBEB;
$yellow: #F8EAAF;
$light-yellow: #FAF4DE;
$blue: #BEE5F9;
$light-blue: #EDF6F9;
$black: #262626;
$mid-grey: #908D82;
$light-grey: #BBC2C5;
$off-white: #FAFAFA;

$font: 'Roboto', sans-serif;